# i3 config file (v4)
set $mod {{ desktop_mod_key }}

font pango:{{ font.name }} {{ font.style }} {{ font.size }}

# Define colors.
set $numix_bg {{ numix.bg }}
set $numix_fg {{ numix.fg }}
set $numix_dark_bg {{ numix.dark_bg }}
set $numix_dark_fg {{ numix.dark_fg }}
set $numix_selected_bg {{ numix.selected_bg }}
set $numix_selected_fg {{ numix.selected_fg }}
set $numix_info_bg {{ numix.info_bg }}
set $numix_info_fg {{ numix.info_fg }}
set $numix_darker_bg {{ numix.darker_bg }}
set $numix_darker_fg {{ numix.darker_fg }}

# Use Mouse+$mod to drag floating windows to their wanted position.
floating_modifier $mod

# Start a terminal.
bindsym $mod+Return exec i3-sensible-terminal

# Kill focused window.
bindsym $mod+Shift+q kill

# Start dmenu.
bindsym $mod+d exec --no-startup-id i3-dmenu-desktop --dmenu="dmenu -i -fn {{ font.name | lower }}:size={{ font.size }} -nb $numix_dark_bg -nf $numix_dark_fg -sb $numix_selected_bg -sf $numix_selected_fg"

# Change focus.
bindsym $mod+j focus left
bindsym $mod+k focus down
bindsym $mod+l focus up
bindsym $mod+semicolon focus right

# Alternatively, you can use the cursor keys.
bindsym $mod+Left focus left
bindsym $mod+Down focus down
bindsym $mod+Up focus up
bindsym $mod+Right focus right

# Move focused window.
bindsym $mod+Shift+j move left
bindsym $mod+Shift+k move down
bindsym $mod+Shift+l move up
bindsym $mod+Shift+semicolon move right

# Alternatively, you can use the cursor keys.
bindsym $mod+Shift+Left move left
bindsym $mod+Shift+Down move down
bindsym $mod+Shift+Up move up
bindsym $mod+Shift+Right move right

# Split in horizontal orientation.
bindsym $mod+h split h

# Split in vertical orientation.
bindsym $mod+v split v

# Enter fullscreen mode for the focused container.
bindsym $mod+f fullscreen toggle

# Change container layout (stacked, tabbed, toggle split).
bindsym $mod+s layout stacking
bindsym $mod+w layout tabbed
bindsym $mod+e layout toggle split

# Toggle tiling / floating.
bindsym $mod+Shift+space floating toggle

# Change focus between tiling / floating windows.
bindsym $mod+space focus mode_toggle

# Focus the parent container.
bindsym $mod+a focus parent

# Focus the child container.
#bindsym $mod+d focus child

# Switch to workspace.
bindsym $mod+1 workspace 1
bindsym $mod+2 workspace 2
bindsym $mod+3 workspace 3
bindsym $mod+4 workspace 4
bindsym $mod+5 workspace 5
bindsym $mod+6 workspace 6
bindsym $mod+7 workspace 7
bindsym $mod+8 workspace 8
bindsym $mod+9 workspace 9
bindsym $mod+0 workspace 10

# Move focused container to workspace.
bindsym $mod+Shift+1 move container to workspace 1
bindsym $mod+Shift+2 move container to workspace 2
bindsym $mod+Shift+3 move container to workspace 3
bindsym $mod+Shift+4 move container to workspace 4
bindsym $mod+Shift+5 move container to workspace 5
bindsym $mod+Shift+6 move container to workspace 6
bindsym $mod+Shift+7 move container to workspace 7
bindsym $mod+Shift+8 move container to workspace 8
bindsym $mod+Shift+9 move container to workspace 9
bindsym $mod+Shift+0 move container to workspace 10

# Reload the configuration file.
bindsym $mod+Shift+c reload
# Restart i3 inplace.
bindsym $mod+Shift+r restart
# Exit i3.
bindsym $mod+Shift+e exec "i3-msg exit"
# Lock screen.
bindsym $mod+Shift+x exec i3lock -c {{ numix.dark_bg[1:] }}

# Resize window.
mode "resize" {
    # These bindings trigger as soon as you enter the resize mode.

    # Pressing left will shrink the window’s width.
    # Pressing right will grow the window’s width.
    # Pressing up will shrink the window’s height.
    # Pressing down will grow the window’s height.
    bindsym j resize shrink width 10 px or 10 ppt
    bindsym k resize grow height 10 px or 10 ppt
    bindsym l resize shrink height 10 px or 10 ppt
    bindsym semicolon resize grow width 10 px or 10 ppt

    # Same bindings, but for the arrow keys
    bindsym Left resize shrink width 10 px or 10 ppt
    bindsym Down resize grow height 10 px or 10 ppt
    bindsym Up resize shrink height 10 px or 10 ppt
    bindsym Right resize grow width 10 px or 10 ppt

    # Back to normal: Enter or Escape
    bindsym Return mode "default"
    bindsym Escape mode "default"
}

bindsym $mod+r mode "resize"

# Set client colors: border, background, text, indicator, child border
client.focused \
    $numix_dark_bg \
    $numix_dark_bg \
    $numix_dark_fg \
    $numix_selected_bg \
    $numix_dark_bg

client.focused_inactive \
    $numix_dark_bg \
    $numix_dark_bg \
    $numix_darker_fg \
    $numix_dark_bg \
    $numix_dark_bg

client.unfocused \
    $numix_dark_bg \
    $numix_dark_bg \
    $numix_darker_fg \
    $numix_dark_bg \
    $numix_dark_bg

client.urgent \
    $numix_info_bg \
    $numix_info_bg \
    $numix_info_fg \
    $numix_info_bg \
    $numix_info_bg

client.placeholder \
    $numix_dark_bg \
    $numix_dark_bg \
    $numix_dark_bg \
    $numix_dark_bg \
    $numix_dark_bg

client.background $numix_dark_bg

# Start i3bar to display a workspace.
set $py3status {{ py3_env }}/bin/py3status

bar {
    status_command $py3status -c ~/.config/py3status/config
    colors {
        background $numix_dark_bg
        statusline $numix_dark_fg
        separator $numix_dark_bg

        # Set workspace colors: border, background, text
        focused_workspace $numix_selected_bg $numix_bg $numix_fg
        active_workspace $numix_bg $numix_bg $numix_fg
        inactive_workspace $numix_dark_bg $numix_dark_bg $numix_dark_fg
        urgent_workspace $numix_info_bg $numix_info_bg $numix_info_fg
    }
}

set $py3cmd {{ py3_env }}/bin/py3-cmd

# Control volume.
bindsym XF86AudioRaiseVolume exec \
    "amixer -q sset Master 5%+ unmute; $py3cmd refresh volume_status"
bindsym XF86AudioLowerVolume exec \
    "amixer -q sset Master 5%- unmute; $py3cmd refresh volume_status"
bindsym XF86AudioMute exec \
    "amixer -q sset Master toggle; $py3cmd refresh volume_status"

# Control screen brightness.
bindsym XF86MonBrightnessUp exec \
    "light -A 10; $py3cmd refresh backlight"
bindsym XF86MonBrightnessDown exec \
    "light -U 10; $py3cmd refresh backlight"
