[Settings]
gtk-theme-name = {{ gtk_theme }}
gtk-icon-theme-name = {{ gtk_theme }}
gtk-font-name = {{ font.gui }} {{ font.size }}
gtk-xft-antialias = {{ xft.antialias | int }}
gtk-xft-dpi = {{ xft.dpi * 1024 }}
gtk-xft-hinting = {{ xft.hinting | int }}
gtk-xft-hintstyle = {{ xft.hintstyle }}
gtk-xft-rgba = {{ xft.rgba }}
