[general]
fontname={{ desktop_font.name }} {{ desktop_font.size }}
bgcolor={{ desktop_gruvbox.dark0 }}
fgcolor={{ desktop_gruvbox.light1 }}
palette_color_0={{ desktop_gruvbox.dark0 }}
palette_color_1={{ desktop_gruvbox.neutral_red }}
palette_color_2={{ desktop_gruvbox.neutral_green }}
palette_color_3={{ desktop_gruvbox.neutral_yellow }}
palette_color_4={{ desktop_gruvbox.neutral_blue }}
palette_color_5={{ desktop_gruvbox.neutral_purple }}
palette_color_6={{ desktop_gruvbox.neutral_aqua }}
palette_color_7={{ desktop_gruvbox.light4 }}
palette_color_8={{ desktop_gruvbox.gray }}
palette_color_9={{ desktop_gruvbox.bright_red }}
palette_color_10={{ desktop_gruvbox.bright_green }}
palette_color_11={{ desktop_gruvbox.bright_yellow }}
palette_color_12={{ desktop_gruvbox.bright_blue }}
palette_color_13={{ desktop_gruvbox.bright_purple }}
palette_color_14={{ desktop_gruvbox.bright_aqua }}
palette_color_15={{ desktop_gruvbox.light1 }}
color_preset=Custom
hidescrollbar=true
hidemenubar=true
hideclosebutton=true
