# py3status configuration file
order += "diskdata"
order += "online_status"
order += "volume_status"
order += "battery_level"
order += "time"
order += "static_string exit"

general {
    color_bad = "{{ numix.error_bg }}"
    color_degraded = "{{ numix.warning_bg }}"
    color_good = "{{ numix.dark_fg }}"
}

diskdata {
    format = "{used_percent}% "
}

online_status {
    color_off = "{{ numix.darker_fg }}"
    icon_off = ""
    icon_on = ""
    url = "https://www.startpage.com/"
}

volume_status {
    cache_timeout = 1
    color_muted = "{{ numix.dark_fg }}"
    format = "{percentage}% "
    format_muted = ""
}

battery_level {
    blocks = ""
    charging_character = ""
    color_charging = "{{ numix.dark_fg }}"
    format = "{percent}% {icon}"
}

static_string exit {
    format = ""
    on_click 1 = "exec --no-startup-id i3-msg exit"
}
