#
# Prezto options
#

#
# General
#

# Set case-sensitivity for completion, history lookup, etc.
zstyle ':prezto:*:*' case-sensitive 'yes'

# Color output.
zstyle ':prezto:*:*' color 'yes'

# Set the Zsh modules to load.
zstyle ':prezto:load' zmodule 'attr' 'stat'

# Set the Zsh functions to load.
zstyle ':prezto:load' zfunction 'zargs' 'zmv'

# Set the Prezto modules to load.
zstyle ':prezto:load' pmodule \
  'environment' \
  'terminal' \
  'editor' \
  'history' \
  'directory' \
  'spectrum' \
  'utility' \
  'completion' \
  'syntax-highlighting' \
  'history-substring-search' \
  'prompt' \
  'archive' \
  'git' \
  'python' \
  'rsync' \
{% if not prezto_keychain %}
  'ssh' \
{% endif %}
{% if ansible_distribution == "MacOSX" %}
  'gpg' \
  'osx'
{% else %}
  'gpg'
{% endif %}

# Set the key mapping style to 'vi'.
zstyle ':prezto:module:editor' key-bindings '{{ prezto_key_bindings }}'

# Auto convert .... to ../..
zstyle ':prezto:module:editor' dot-expansion 'yes'

#
# Git
#

# Ignore submodules when they are 'dirty', 'untracked', 'all', or 'none'.
zstyle ':prezto:module:git:status:ignore' submodules 'all'

#
# Prompt
#

# Set the prompt theme to load.
zstyle ':prezto:module:prompt' theme '{{ prezto_theme }}'

# Set the working directory prompt display length.
zstyle ':prezto:module:prompt' pwd-length 'short'

#
# Python
#

# Automatically initialize virtualenvwrapper if pre-requisites are met.
zstyle ':prezto:module:python:virtualenv' initialize 'yes'

#
# SSH
#

# Set the SSH identities to load into the agent (optional).
{% if not prezto_keychain %}
zstyle ':prezto:module:ssh:load' identities \
{% for key in prezto_ssh %}
{% if loop.last %}
  '{{ key }}'
{% else %}
  '{{ key }}' \
{% endif %}
{% endfor %}
{% endif %}

#
# Syntax Highlighting
#

# Set syntax highlighters.
zstyle ':prezto:module:syntax-highlighting' highlighters \
  'main' \
  'brackets' \
  'pattern' \
  'line' \
  'root'

# Set syntax highlighting styles.
zstyle ':prezto:module:syntax-highlighting' styles \
  'builtin' 'bg=blue' \
  'command' 'bg=blue' \
  'function' 'bg=blue'

# Set syntax pattern styles.
zstyle ':prezto:module:syntax-highlighting' pattern \
  'rm*-rf*' 'fg=white,bold,bg=red'

#
# Utility
#

# Enabled safe options.
zstyle ':prezto:module:utility' safe-ops 'yes'
