# Source default settings.
if [[ -s "${ZDOTDIR:-$HOME}/.zprezto/runcoms/zprofile" ]]; then
  source "${ZDOTDIR:-$HOME}/.zprezto/runcoms/zprofile"
fi

export EDITOR='{{ zprofile_editor }}'
export VISUAL='{{ zprofile_editor }}'

# Add more directories to path variable (optional).
{% if zprofile_path %}
path=(
  {% for path in zprofile_path %}
  {{ path }}
  {% endfor %}
  $path
)
{% endif %}

# Configure path to man pages (optional).
{% if zprofile_manpath %}
export MANPATH="{{ zprofile_manpath | join(':') }}:$MANPATH"
{% endif %}

# Set LD_LIBRARY_PATH (optional).
{% if zprofile_ld_library_path %}
export LD_LIBRARY_PATH="{{ zprofile_ld_library_path | join(':') }}:$LD_LIBRARY_PATH"
{% endif %}

# Set LC_ALL variable on macOS (optional).
{% if ansible_distribution == "MacOSX" %}
if [[ -z $LC_ALL ]]; then
  export LC_ALL='en_US.UTF-8'
fi
{% endif %}

# Add more environment variables (optional).
{% if zprofile_env %}
{% for name in zprofile_env %}
export {{ name | upper }}={{ zprofile_env[name] }}
{% endfor %}
{% endif %}
