# Source default settings.
if [[ -s "${ZDOTDIR:-$HOME}/.zprezto/runcoms/zprofile" ]]; then
  source "${ZDOTDIR:-$HOME}/.zprezto/runcoms/zprofile"
fi

export EDITOR='vim'
export VISUAL='vim'

path=(
  /opt/local/{bin,sbin}
  /usr/lib/llvm-7/bin
  $HOME/.local/bin
  $path
)

export MANPATH="/opt/local/share/man:$MANPATH"
export LD_LIBRARY_PATH="/opt/local/lib:$LD_LIBRARY_PATH"

# Additional environment variables
{% if env_variables %}
{% for name in env_variables %}
export {{ name | upper }}={{ env_variables[name] }}
{% endfor %}
{% endif %}
