# Source Prezto.
if [[ -s "${ZDOTDIR:-$HOME}/.zprezto/init.zsh" ]]; then
  source "${ZDOTDIR:-$HOME}/.zprezto/init.zsh"
fi

# Define aliases.
{% if prezto_zshrc_aliases %}
{% for name in prezto_zshrc_aliases %}
alias {{ name }}={{ prezto_zshrc_aliases[name] }}
{% endfor %}
{% endif %}
