[general]
fontname={{ font.name }} {{ font.size }}
bgcolor={{ gruvbox.dark0 }}
fgcolor={{ gruvbox.light1 }}
palette_color_0={{ gruvbox.dark0 }}
palette_color_1={{ gruvbox.neutral_red }}
palette_color_2={{ gruvbox.neutral_green }}
palette_color_3={{ gruvbox.neutral_yellow }}
palette_color_4={{ gruvbox.neutral_blue }}
palette_color_5={{ gruvbox.neutral_purple }}
palette_color_6={{ gruvbox.neutral_aqua }}
palette_color_7={{ gruvbox.light4 }}
palette_color_8={{ gruvbox.gray }}
palette_color_9={{ gruvbox.bright_red }}
palette_color_10={{ gruvbox.bright_green }}
palette_color_11={{ gruvbox.bright_yellow }}
palette_color_12={{ gruvbox.bright_blue }}
palette_color_13={{ gruvbox.bright_purple }}
palette_color_14={{ gruvbox.bright_aqua }}
palette_color_15={{ gruvbox.light1 }}
color_preset=Custom
hidescrollbar=true
hidemenubar=true
hideclosebutton=true
