" Path to Python executables
let g:python_host_prog='{{ py2env }}/bin/python'
let g:python3_host_prog='{{ py3env }}/bin/python'

" Manage plugins.
call plug#begin('~/.local/share/nvim/plugged')
Plug 'morhetz/gruvbox'
Plug 'scrooloose/nerdtree'
Plug 'vim-airline/vim-airline'
call plug#end()

" Enable the gruvbox color scheme.
let g:gruvbox_italics=1
colorscheme gruvbox

" The color scheme supports powerline symbols.
let g:airline_powerline_fonts=1

set termguicolors   " Enable true color support.
set background=dark " Enable dark background.
set number          " Show line numbers.
set expandtab       " Insert spaces whenever the tab key is pressed.
set smartindent     " Use smart indentation.
set shiftwidth=4    " Set number of spaces for automatic indentation.
set softtabstop=4   " Set number of spaces for tabs.
set textwidth=79    " Set text width.

" Show tabs.
set list
set listchars=tab:>.,trail:_,extends:>,precedes:<
