# LightDM GTK+ configuration
[greeter]
background={{ desktop_lightdm.background }}
theme-name={{ desktop_gtk.theme }}
icon-theme-name={{ desktop_gtk.theme }}
font-name={{ desktop_font_gui.name }} {{ desktop_font_gui.size }}
xft-antialias={{ desktop_xft.antialias | lower }}
xft-dpi={{ desktop_xft.dpi }}
xft-hintstyle={{ desktop_xft.hintstyle }}
xft-rgba={{ desktop_xft.rgba }}
