! Improve font rendering.
Xft.dpi: {{ desktop_xft.dpi }}
Xft.antialias: {{ desktop_xft.antialias | lower }}
Xft.hinting: {{ desktop_xft.hinting | lower }}
Xft.hintstyle: hint{{ desktop_xft.hintstyle }}
Xft.rgba: {{ desktop_xft.rgba }}
Xft.lcdfilter: {{ desktop_xft.lcdfilter }}

! Set gruvbox color scheme.
! https://github.com/morhetz/gruvbox-contrib
*background: {{ desktop_gruvbox.dark0 }}
*foreground: {{ desktop_gruvbox.light1 }}
*color0: {{ desktop_gruvbox.dark0 }}
*color1: {{ desktop_gruvbox.neutral_red }}
*color2: {{ desktop_gruvbox.neutral_green }}
*color3: {{ desktop_gruvbox.neutral_yellow }}
*color4: {{ desktop_gruvbox.neutral_blue }}
*color5: {{ desktop_gruvbox.neutral_purple }}
*color6: {{ desktop_gruvbox.neutral_aqua }}
*color7: {{ desktop_gruvbox.light4 }}
*color8: {{ desktop_gruvbox.gray }}
*color9: {{ desktop_gruvbox.bright_red }}
*color10: {{ desktop_gruvbox.bright_green }}
*color11: {{ desktop_gruvbox.bright_yellow }}
*color12: {{ desktop_gruvbox.bright_blue }}
*color13: {{ desktop_gruvbox.bright_purple }}
*color14: {{ desktop_gruvbox.bright_aqua }}
*color15: {{ desktop_gruvbox.light1 }}
