" Path to Python executables
let g:python_host_prog='{{ py2_env | expanduser }}/bin/python'
let g:python3_host_prog='{{ py3_env | expanduser }}/bin/python'

set termguicolors   " Enable true color support.
set background=dark " Enable dark background.
set number          " Show line numbers.
set expandtab       " Insert spaces whenever the tab key is pressed.
set smartindent     " Use smart indentation.
set shiftwidth=4    " Set number of spaces for automatic indentation.
set tabstop=4       " Set number of spaces for tabs.
set textwidth=79    " Set text width.
set colorcolumn=80  " Mark lines longer than 80 columns.

" Show tabs.
set list
set listchars=tab:>.,trail:_,extends:>,precedes:<

augroup makefiles
  " Makefiles require tabs.
  autocmd FileType cmake,make setlocal noexpandtab
augroup END

augroup webdevelopment
  autocmd FileType html,typescript setlocal shiftwidth=2 tabstop=2
augroup END

" Manage plugins.
call plug#begin('{{ plugin_directory }}')
{% for plugin in plugins %}
Plug '{{ plugin }}'
{% endfor %}
call plug#end()

" Enable the gruvbox color scheme.
let g:gruvbox_italics=1
colorscheme gruvbox

" The color scheme supports powerline symbols.
let g:airline_powerline_fonts=1

" Run neovim when writing a buffer.
call neomake#configure#automake('w')

" Workaround for the missing `--remote` option.
let g:vimtex_compiler_progname='nvr'

" PDF viewer
let g:vimtex_view_method='zathura'

" Enable completion.
let g:deoplete#enable_at_startup=1

if !exists('g:deoplete#omni#input_patterns')
  let g:deoplete#omni#input_patterns={}
endif

let g:deoplete#omni#input_patterns.tex=g:vimtex#re#deoplete
