# LightDM GTK+ configuration
[greeter]
background={{ background }}
theme-name={{ gtk_theme }}
icon-theme-name={{ gtk_theme }}
font-name={{ font.gui }} {{ font.size }}
xft-antialias={{ xft.antialias | lower }}
xft-dpi={{ xft.dpi }}
xft-hintstyle={{ xft.hintstyle }}
xft-rgba={{ xft.rgba }}
