# LightDM GTK+ configuration
[greeter]
background={{ lightdm.background }}
theme-name={{ gtk.theme }}
icon-theme-name={{ gtk.theme }}
font-name={{ font_gui.name }} {{ font_gui.size }}
xft-antialias={{ xft.antialias | lower }}
xft-dpi={{ xft.dpi }}
xft-hintstyle={{ xft.hintstyle }}
xft-rgba={{ xft.rgba }}
