! Improve font rendering.
Xft.dpi: {{ xft.dpi }}
Xft.antialias: {{ xft.antialias | lower }}
Xft.hinting: {{ xft.hinting | lower }}
Xft.hintstyle: {{ xft.hintstyle }}
Xft.rgba: {{ xft.rgba }}
Xft.lcdfilter: {{ xft.lcdfilter }}

! Set gruvbox color scheme.
! https://github.com/morhetz/gruvbox-contrib
*background: {{ gruvbox.dark0 }}
*foreground: {{ gruvbox.light1 }}
*color0: {{ gruvbox.dark0 }}
*color1: {{ gruvbox.neutral_red }}
*color2: {{ gruvbox.neutral_green }}
*color3: {{ gruvbox.neutral_yellow }}
*color4: {{ gruvbox.neutral_blue }}
*color5: {{ gruvbox.neutral_purple }}
*color6: {{ gruvbox.neutral_aqua }}
*color7: {{ gruvbox.light4 }}
*color8: {{ gruvbox.gray }}
*color9: {{ gruvbox.bright_red }}
*color10: {{ gruvbox.bright_green }}
*color11: {{ gruvbox.bright_yellow }}
*color12: {{ gruvbox.bright_blue }}
*color13: {{ gruvbox.bright_purple }}
*color14: {{ gruvbox.bright_aqua }}
*color15: {{ gruvbox.light1 }}
