set font "{{ desktop_font.name | lower }} {{ desktop_font.size }}"

set completion-bg "{{ desktop_gruvbox.dark0 }}"
set completion-fg "{{ desktop_gruvbox.light1 }}"
set completion-group-bg "{{ desktop_gruvbox.dark0 }}"
set completion-group-fg "{{ desktop_gruvbox.bright_aqua }}"
set completion-highlight-bg "{{ desktop_gruvbox.dark1 }}"
set completion-highlight-fg "{{ desktop_gruvbox.light1 }}"
set default-bg "{{ desktop_gruvbox.dark0 }}"
set default-fg "{{ desktop_gruvbox.light1 }}"
set inputbar-bg "{{ desktop_gruvbox.dark0 }}"
set inputbar-fg "{{ desktop_gruvbox.light1 }}"
set notification-bg "{{ desktop_gruvbox.dark0 }}"
set notification-fg "{{ desktop_gruvbox.light1 }}"
set notification-error-bg "{{ desktop_gruvbox.bright_red }}"
set notification-error-fg "{{ desktop_gruvbox.dark0 }}"
set notification-warning-bg "{{ desktop_gruvbox.bright_red }}"
set notification-warning-fg "{{ desktop_gruvbox.dark0 }}"
set statusbar-bg "{{ desktop_gruvbox.dark1 }}"
set statusbar-fg "{{ desktop_gruvbox.light4 }}"

set highlight-color "{{ desktop_gruvbox.bright_yellow }}"
set highlight-active-color "{{ desktop_gruvbox.bright_purple }}"
