set font "{{ font.name | lower }} {{ font.size }}"

set completion-bg "{{ gruvbox.dark0 }}"
set completion-fg "{{ gruvbox.light1 }}"
set completion-group-bg "{{ gruvbox.dark0 }}"
set completion-group-fg "{{ gruvbox.bright_aqua }}"
set completion-highlight-bg "{{ gruvbox.dark1 }}"
set completion-highlight-fg "{{ gruvbox.light1 }}"
set default-bg "{{ gruvbox.dark0 }}"
set default-fg "{{ gruvbox.light1 }}"
set inputbar-bg "{{ gruvbox.dark0 }}"
set inputbar-fg "{{ gruvbox.light1 }}"
set notification-bg "{{ gruvbox.dark0 }}"
set notification-fg "{{ gruvbox.light1 }}"
set notification-error-bg "{{ gruvbox.bright_red }}"
set notification-error-fg "{{ gruvbox.dark0 }}"
set notification-warning-bg "{{ gruvbox.bright_red }}"
set notification-warning-fg "{{ gruvbox.dark0 }}"
set statusbar-bg "{{ gruvbox.dark1 }}"
set statusbar-fg "{{ gruvbox.light4 }}"

set highlight-color "{{ gruvbox.bright_yellow }}"
set highlight-active-color "{{ gruvbox.bright_purple }}"
